<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Management_Info_SysConnectionString" connectionString="Data Source=SERVERGC001\;Initial Catalog=Management_Info_Sys;Persist Security Info=True;User ID=krgc;Password=1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files/>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
        <fileExtensions>
          <add fileExtension=".aspx" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation debug="false"> 
	
    </compilation>
	
  </system.web>
</configuration>